<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>templates</title>

    <style>
      * {
        box-sizing: border-box;
      }
      html,
      body {
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
      }
      h1 {
        text-align: center;
      }

      .album {
        max-width: 900px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Charts</h1>
      <div id="charts" class="album"></div>
      <hr>
      <h1>External Links</h1>
      <div id="externalLinks" class="album"></div>
    </div>

    <script type="module">
      {
        const album = document.body.querySelector("#charts");

        const templates = [
          "/src/isolated_charts/BarChart",
          "/src/isolated_charts/CircleAbsorber",
          "/src/isolated_charts/PvsT",
          "/src/isolated_charts/GOTChart",
          "/src/isolated_charts/Top12",
          "/src/isolated_charts/ButterflyChart",
        ];
        for (let i = 0; i < templates.length; i++) {
          insertAlbum(album, templates[i], templates[i] + "/logo.jpg")
        }
      }

      {
        const album = document.body.querySelector("#externalLinks");

        const templates = [
          ["https://terraadriatica.hr/en/journey/Milanovic", "/templates/external_links_logo/ta_journey.jpg"],
          ["https://www.reddit.com/r/dataisbeautiful/comments/dgp8f8/oc_100_years_of_plane_crashes", "/templates/external_links_logo/aviation.jpg"],
        ];

        for (let i = 0; i < templates.length; i++) {
          insertAlbum(album, templates[i][0], templates[i][1])
        }
      }

      function insertAlbum(album, index_url, logo_url) {
        const node = album.appendChild(document.createElement("a"));
        node.style.display = "inline-block";
        node.style.width = "50%";
        node.style.padding = "10px";
        node.style.cursor = "pointer";
        node.setAttribute("href", index_url)
        node.setAttribute("target", "_blank")

        const img = node.appendChild(document.createElement("img"));
        img.style.width = "100%";
        img.src = logo_url
        img.alt = index_url;
      }

    </script>
  </body>
</html>
