.row {
  display: flex;
}

.left-col {
  min-width: 200px;
  width: 20%;
  height: 700px;
  max-height: 100%;
  overflow-y: auto;
}

.mid-col {
  min-width: 900px;
  width: 60%;
  max-width: 100%;
}

.collection .collection-item {
  cursor: pointer;
  background-color: white;
  transition: background-color .3s;
}

.collection .collection-item:hover {
  background-color: lightblue;
}

.collection .collection-item.active {
  background-color: rgb(0, 119, 170);;
}
